<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
    <h1>Home</h1>
    <button class = "modify">Modify</button>
    <button class = "delete">Delete</button>




<!--    <table>
      <tr>
        <th class="eName">Event name</th>
        <th class="eDate">Event date</th>
        <th class="eDesc">Event Description</th>
        <th class = "eBudg" >Event Budget</th>

      </tr>
      <tr>
          <td>{{ event_name }}</td>
          <td>{{ date_time }}</td>
          <td>{{ desc }}</td>
          <td>{{ budget }}</td>

      </tr>

    </table>
                 -->
</body>
</html>